.slide{'data-anchor' => 'slide1'}
  #partial_map
    = render 'full_page/skills/map'
.slide{'data-anchor' => 'slide2'}
  #partial_login_out
    = render 'full_page/skills/login_logout', resource: resource
.slide{'data-anchor' => 'slide3'}