%p
  ="#{t 'p_location'}"
  #map
#way_form
  = text_field_tag(:origin, nil, placeholder: 'origin')
  = text_field_tag(:destination, nil, placeholder: 'destination')
  = submit_tag "Get directions", id: 'get_directions'