// Place all the styles related to the FullPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 5vw;
  font-family: arial,helvetica;
  color: #262626;
  margin: 0;
  padding: 0;
}

p{
  font-size: 3vmin;
  font-family: arial,helvetica;
  color: #313131;
  margin: 0;
  padding: 0;
}

.section {
  text-align:center;
}

#section1,
#section2,
#section3{
  background-size: cover;
}

#section1 {
  background-color: #78a797;
}

#photo{
  margin-top: -10%;
}

#photo > img{
  width: 15%;
}

#greeting{
  margin-top: 50px;
  width: 80%;
  display: inline-block;
  p{
    margin-top: 2%;
  }
}

#section2 {
  background-color: #62bb6d;
}

#map{
  width: 400px;
  height: 400px;
  background-color: #fffdf8;
  display: inline-block;
}
#section3 {

}

//#section4 {
//  background-image: image-url("bg4.jpg");
//}