// Place all the styles related to the FullPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: #262626;
  margin: 0;
  padding: 0;
}

p{
  font-size: 2em;
  font-family: arial,helvetica;
  color: #313131;
  margin: 0;
  padding: 0;
}

.section {
  text-align:center;
}

#section1,
#section2,
#section3{
  background-size: cover;
}

#section1 {
  background-color: #FDF3E7;
}

#photo{
  margin-top: -10%;
}

#photo > img{
  width: 15%;
}

#greeting{
  margin-top: 50px;
  width: 75%;
  display: inline-block;
}

#section2 {
  background-color: #8FFF8D;
}

#section3 {

}

//#section4 {
//  background-image: image-url("bg4.jpg");
//}